<ion-content [fullscreen]="true">

    <!---Texto o contenido responsive-->
    <ion-grid >
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-md="10" size-lg="8" size-xl="6">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam nobis ullam praesentium ab assumenda tempore aut culpa, consequatur laboriosam possimus dolores suscipit. Molestiae incidunt dolore iusto ipsum iste ut earum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam nobis ullam praesentium ab assumenda tempore aut culpa, consequatur laboriosam possimus dolores suscipit. Molestiae incidunt dolore iusto ipsum iste ut earum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam nobis ullam praesentium ab assumenda tempore aut culpa, consequatur laboriosam possimus dolores suscipit. Molestiae incidunt dolore iusto ipsum iste ut earum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam nobis ullam praesentium ab assumenda tempore aut culpa, consequatur laboriosam possimus dolores suscipit. Molestiae incidunt dolore iusto ipsum iste ut earum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam nobis ullam praesentium ab assumenda tempore aut culpa, consequatur laboriosam possimus dolores suscipit. Molestiae incidunt dolore iusto ipsum iste ut earum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam nobis ullam praesentium ab assumenda tempore aut culpa, consequatur laboriosam possimus dolores suscipit. Molestiae incidunt dolore iusto ipsum iste ut earum.
              
            </ion-col>

            <ion-card-content>

            </ion-card-content>
        
        </ion-row>
    </ion-grid>

</ion-content>
