.hero{
    background-image: url('https://cdn.wallpapersafari.com/43/42/IwWBH3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 35vh;
    width: 100%;
}